<!DOCTYPE html>
<html>
<head>
	<title>User Detail</title>
</head>
<body>
	<div>
			<h2>User Detail Page</h2> 		
	</div>

	<a href="/home">Home</a>|
	<a href="/home/view_users">View Users</a> |
	<a href="/home/view_property">View Properties</a> |
	<a href="/home/view_message">View Message</a> |
	<a href="/logout">Logout</a><br>

		<table>
			<tr>
				<td>Image: </td>
				<td><%= user.c_image %></td>
			</tr>
			<tr>
				<td>ID: </td>
				<td><%= user.customer_id %></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><%= user.username %></td>
			</tr>
			<tr>
				<td>Name: </td>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td>Type: </td>
				<td><%= user.type %></td>
			</tr>
			<tr>
				<td>Phone: </td>
				<td><%= user.phone %></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td><%= user.email %></td>
			</tr>
		
			<tr>
				<td>Active Posts: </td>
				<td><a href="/home/user_active_posts/<%= user.username%>"><%= user.active_posts %></a></td>
			</tr>
			<tr>
				<td>Pending Posts: </td>
				<td><a href="/home/user_pending_posts/<%= user.username%>"><%= user.pending_posts %></a></td>
			</tr>
			<tr>
				<td>Sold posts: </td>
				<td><a href="/home/user_sold_posts/<%= user.username%>"><%= user.sold_posts %></a></td>
			</tr>
			<tr>
				<td>Total posts: </td>
				<td><a href="/home/user_total_posts/<%= user.username%>"><%= user.total_posts %></a></td>
			</tr>
			
		</table>


</body>
</html>