<!DOCTYPE html>
<html>
<head>
	<title>Property List</title>
</head>
<body>
	<div>
			<h2>Property List</h2> 		
	</div>

	<a href="/home">Back</a>|
	<a href="/logout">Logout</a><br>

	<form method="post">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="location" placeholder="Location">
		<input type="number" name="bed" placeholder="No. of Bed">
		<input type="number" name="bath" placeholder="No. of Bath">		
		<input type="number" name="floor" placeholder="Floor">
		<input type="number" name="price_from" placeholder="Price From">
		<input type="number" name="price_to" placeholder="Price To">
		<select name="purpose">
			<option value="">Purpose</option>
			<option value="rent">Rent</option>
			<option value="buy">Buy</option>
		</select>
		<select name="type">
			<option value="">Type</option>
			<option value="apartment">Apartment</option>
			<option value="flat">Flat</option>
			<option value="duplex">Duplex</option>
			<option value="room">Room</option>
			<option value="shop">Shop</option>
			<option value="other">Other</option>
		</select>
		<select name="status">
			<option value="">Status</option>
			<option value="allowed">Allowed</option>
			<option value="pending">Pending</option>
			<option value="sold">Sold</option>
		</select>
		<select name="orderby">
			<option value="">Order By</option>
			<option value="order by property_price desc">Price high to low</option>
			<option value="order by property_price">Price low to high</option>
			<option value="order by date desc">Posted recently</option>
			<option value="order by date">Posted earlier</option>
		</select>
		<input type="submit" name="" value="Search">
	</form>

	<table border="1">
		<tr>
			<td>Id</td>
			<td>Title</td>
			<td>Price</td>
			<td>Area</td>
			<td>Type</td>
			<td>Purpose</td>
			<td>Bed</td>
			<td>Bath</td>
			<td>Sq Ft</td>
			<td>Floor</td>
			<td>Status</td>
			<td>Clicks</td>
			<td>Date</td>
			<td>Posted By</td>
			<td>Action</td>
		</tr>
	<% for(var i=0; i < propertylist.length; i++){ %>
		<tr>
			<td><%= propertylist[i].property_id %></td>
			<td><%= propertylist[i].title %></td>
			<td><%= propertylist[i].property_price %></td>
			<td><%= propertylist[i].property_area %></td>
			<td><%= propertylist[i].p_type %></td>
			<td><%= propertylist[i].style %></td>
			<td><%= propertylist[i].bed %></td>
			<td><%= propertylist[i].bath %></td>
			<td><%= propertylist[i].feet %></td>
			<td><%= propertylist[i].floor %></td>
			<td><%= propertylist[i].status %></td>
			<td><%= propertylist[i].no_of_clicks %></td>
			<td><%= propertylist[i].date.toString().split(" ").slice(0, 4).join(" ") %></td>
			<td><a href="/home/user_detail/<%= propertylist[i].username %>"><%= propertylist[i].username %></a></td>
			<td>
				<a href="/home/view_property_detail/<%= propertylist[i].property_id %>">View</a> | 
				<a href="/home/delete_property/<%= propertylist[i].property_id %>">DELETE</a> 
			</td>
		</tr>
	<%  } %>
	</table>

</body>
</html>