<!DOCTYPE html>
<html>
<head>
	<title>User List</title>
</head>
<body>
	<div>
			<h2>User List</h2> 		
	</div>

	<a href="/home">Home</a>|
	<a href="/home/view_users">View Users</a> |
	<a href="/home/view_property">View Properties</a> |
	<a href="/home/view_message">View Message</a> |
	<a href="/logout">Logout</a><br>

	<form method="post">
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="email" placeholder="Email">
		<select name="type">
			<option value="">Type</option>
			<option value="admin">Admin</option>
			<option value="moderator">Moderator</option>
			<option value="employee">Employee</option>
			<option value="customer">Customer</option>
		</select>
		<select name="orderby">
			<option value="">Order By</option>
			<option value="order by active_posts">Active posts low to high</option>
			<option value="order by active_posts desc">Active posts high to low</option>
			<option value="order by pending_posts">Pending posts low to high</option>
			<option value="order by pending_posts desc">Pending posts high to low</option>
			<option value="order by sold_posts">Sold posts low to high</option>
			<option value="order by sold_posts desc">Sold posts high to low</option>
			<option value="order by total_posts">Total posts low to high</option>
			<option value="order by total_posts desc">Total posts high to low</option>
		</select>
		<input type="submit" name="" value="Search">
	</form>

	<table border="1">
		<tr>
			<td>ID </td>
			<td>Username </td>
			<td>Name </td>
			<td>Type </td>
			<td>Phone </td>
			<td>Email </td>
			<td>Active posts </td>
			<td>Pending posts </td>
			<td>Sold posts </td>
			<td>Total posts </td>
			<td>Action </td>
		</tr>
	<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].customer_id %></td>
			<td><a href="/home/user_detail/<%= userlist[i].username %>"><%= userlist[i].username %></a></td>
			<td><%= userlist[i].name %></td>
			<td><%= userlist[i].type %></td>
			<td><%= userlist[i].phone %></td>
			<td><%= userlist[i].email %></td>
			<td> <a href="/home/user_active_posts/<%= userlist[i].username%>"><%= userlist[i].active_posts %></a></td>
			<td><a href="/home/user_pending_posts/<%= userlist[i].username%>"><%= userlist[i].pending_posts %></a></td>
			<td><a href="/home/user_sold_posts/<%= userlist[i].username%>"><%= userlist[i].sold_posts %></a></td>
			<td><a href="/home/user_total_posts/<%= userlist[i].username%>"><%= userlist[i].total_posts %></a></td>
			<td>
				<a href="/home/edit/<%= userlist[i].customer_id %>">EDIT</a> | 
				<a href="/home/delete/<%= userlist[i].customer_id %>">DELETE</a> 
			</td>
		</tr>
	<%  } %>
	</table>

</body>
</html>